body { background-color: gray ;}
div { border-radius: 10px; text-align: center; border: }
#container {
	width: 1200px;
	margin 0 auto;
	background-color: #FFFFFF;
	background: -webkit-linear-gradient(#FFFFFF,#DEF2F1);
	background: -ms-linear-gradient(#FFFFFF, #84CEEB);
	background: linear-gradient(#FFFFFF, #DEF2F1);
}
#menu { min-height: 100px; color: white; text-align: left; padding: 10px;}
#left-side { float: left; width: 29%; min-height: 500px; padding: 5px; }
#middle-side { float: left; width: 69%; min-height: 500px; }
#footer-down { clear: both; min-height: 50px; }

h2 { color: #00AAFF; font-family: Arial, serif; font-size: 15pt; text-align: center; }
p { color: black; font-family: "Times New Roman", serif; font-size: 12pt; text-align: center; }
h5 { text-align: center; } 